{% extends 'base.html.twig' %}

{% block title %}Entrenamiento{% endblock %}

     
     {% block body %}
      <!-- service section start -->
      <div class="service_section layout_padding">
        <div class="container">
          <h1 class="services_text">Entrenamientos</h1>
          <div class="service_section_2">
            <div class="row">
              <div class="col-sm-4">
                <div class="image_3"><a href="{{ path('trensuperior')}}"><img id="imagenentrene1" src="images/entrenamientos/trensuper.jpg"></a></div>
                <h1 class="classic_text">Tren superior</h1>
                <p class="consectetur_text">biceps, hombro, pecho, espalda y abdominales</p>
                <div class="read_bt_main">
                  <div class="read_bt"><a href="TrenSuperior.html">Ir</a></div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="image_3"><a href="{{ path('treninferior')}}"><img id="imagenentrene2" href="TrenInferior.html"  src="images/entrenamientos/piernas.jpg"></a></div>
                <h1 class="classic_text">Tren inferior</h1>
                <p class="consectetur_text">Quadriceps, Femorales y Gemelos</p>
                <div class="read_bt_main">
                  <div class="read_bt"><a href="TrenInferior.html">Ir</a></div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="image_3"><a href="{{ path('cardiovascular')}}"><img href="#" id="imagenentrene3" src="images/entrenamientos/cardio.jpg"></a></div>
                <h1 class="classic_text">Cardiovascular</h1>
                <p class="consectetur_text">Todo ejercicio relacionado con el movimiento a una velocidad moderada, correr, bicicleta, boxeo, etc</p>
                <div class="read_bt_main">
                  <div class="read_bt"><a href="cardiovascular.html"> Ir</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- service section end -->

{% endblock %}