{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
 <!-- banner section start -->
      <div class="banner_section">
        <section class="slide-wrapper">
          <div class="container">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                      <li data-target="#myCarousel" data-slide-to="1"></li>
                      <li data-target="#myCarousel" data-slide-to="2"></li>
                      <li data-target="#myCarousel" data-slide-to="3"></li>
                  </ol>

                  <!-- Wrapper for slides -->
                  <div class="carousel-inner">
                      <div class="carousel-item active">
                          <div class="container">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="image_1"><img src="images/Index/imagen1.jpg"></div>
                              </div>
                              <div class="col-md-6">
                                <h1 class="achive_text">Consigue tu cuerpo soñado</h1>
                                <p id="bienvenida">BIENVENIDO</p>
                                <p class="best_text">El mejor sitio para entrenar</p>


                                <p class="lorem_text"> </p>
                                <div class="appointment_bt"><a href="contact.html">Unete Ya!!</a></div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="container">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="image_1"><img id="img2index" src="images/Index/imagen2.jpg"></div>
                              </div>
                              <div class="col-md-6">
                                <h1 class="achive_text">Que significa agogé?</h1>
                                <p class="best_text">Tradicion espartana</p>
                                <p class="lorem_text">agogé es el nombre que se le daba a la educacion a los niños donde a la edad de 7 años se le alejaba de su madre para entrenarlos y formarlos como guerreros </p>
                                <div class="appointment_bt"><a href="https://es.wikipedia.org/wiki/Educación_espartana">Saber mas</a></div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="container">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="image_1"><img id="img3index" src="images/Index/logoreal.png"></div>
                              </div>
                              <div class="col-md-6">
                                <h1 class="achive_text">Que puedo encontrar en agogégym?</h1>
                                <p class="best_text">Todo lo que necessitas</p>
                                <p class="lorem_text">En agogé gym ofrecemos todo tipo de servicios, entrenamientos, nutricion, ropa... </p>
                                <div class="appointment_bt"><a href="entrenamientos.html">IR</a></div>
                              </div>
                            </div>
                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="container">
                            <div class="row">
                              <div class="col-md-6">
                                <div class="image_1"><img  id= "imgindex" src="images/Index/4.jpg"></div>
                              </div>
                              <div class="col-md-6">
                                <h1 class="achive_text">El mejor estilo para entrenar</h1>
                                <p class="best_text">Ropa de primera</p>
                                <p class="lorem_text"></p>
                                <div class="appointment_bt"><a href="ropa.html">Tienda</a></div>
                              </div>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
        </section>
      </div>
      <!-- banner section end -->
{% endblock %}
