  {% extends 'base.html.twig' %}

{% block title %}Nutricion{% endblock %}

{% block body %}
  
  
  <!-- about section start -->
      <div class="about_section layout_padding">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p class="unique_text">La clave de un cuerpo</p>
              <h1 class="years_text">Nutricion</h1>
              <p class="ipsum_text">¿Qué es la alimentación? La alimentación, por definición, es el conjunto de acciones mediante las cuales se proporcionan alimentos al organismo. Es decir, abarca la selección de los alimentos, el cocinado y su ingestión. La alimentación depende de muchas variantes, desde las necesidades individuales y la disponibilidad de alimentos hasta aspectos psicológicos y modas. 
                
                <br> <br>Además de ser una necesidad vital para la supervivencia, la alimentación también es bienestar, cultura y placer. 

                La salud depende fundamentalmente de la variedad y tipos de alimentos que ingerimos. Los nutrientes presentes en los alimentos son fundamentales para la vida. Con un poco de información y conocimiento sobre estos nutrientes y la digestión, podemos alcanzar el equilibrio a través de la alimentación. <br><br>Un equilibrio entre salud, bienestar y placer.
                
                Es imprescindible una alimentación variada y saludable para poder estar bien nutridos. </p>
              <div class="read_more_bt"><a href="#">READ MORE</a></div>
            </div>
            <div class="col-md-6">
              <div class="image_2"><img src="images/nutricion/fondo.png"></div>
            </div>
          </div>
        </div>
      </div>
      <!-- about section end -->

       <!--calculadora de masa muscular-->
       <div class="discount_section layout_padding">
        <div class="container">
          <div class="discount_bg">
            <div class="row">
              <div class="col-sm-8">
                <h1 class="get_tetx">Calcula tus calorias para aumentar masa muscular:</h1>
                <button id="botoncalcular">Calcular</button>

                <div id="caja">

                </div>
                
              </div>
              <div class="col-sm-4">
                <div class="image_6"><img src="images/nutricion/aumentarmassa.png"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!--calculadora de masa muscular-->



       <!--IMC-->
       <div class="discount_section layout_padding">
        <div class="container">
          <div class="discount_bg">
            <div class="row">
              <div class="col-sm-8">
                <h1 class="get_tetx">Calcula tu IMC (Indice de Masa Corporal)</h1>
                <button id="botoncalcular2">Calcular</button>

                <div id="caja2">

                </div>
                
              </div>
              <div class="col-sm-4">
                <div class="image_6"><img src="images/nutricion/aumentarmassa.png"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!--IMC-->


    <!--MANTENER PESO-->
    <div class="discount_section layout_padding">
      <div class="container">
        <div class="discount_bg">
          <div class="row">
            <div class="col-sm-8">
              <h1 class="get_tetx">Calcula tus calorias para mantener tu peso:</h1>
              <button id="botoncalcular3">Calcular</button>

              <div id="caja3">

              </div>
              
            </div>
            <div class="col-sm-4">
              <div class="image_6"><img src="images/nutricion/aumentarmassa.png"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
<!--MANTENER PESO-->

      <!-- join us section start -->
      <div class="join_section">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
            
            </div>
            <div class="col-md-6">
            
            </div>
          </div>
        </div>
      </div>
      <!-- join us section end -->

      {% endblock %}