{% extends 'base.html.twig' %}

{% block title %}Entrenamiento{% endblock %}

     
     {% block body %}
<!-- service section start -->
      <div class="service_section layout_padding">
        <div class="container">
          <h1 class="services_text">Ropa</h1>
          <div class="service_section_2">
            <div class="row">
              <div class="col-sm-4">
                <div class="image_3"><a href="sudaderas.html"><img id="imagenentrene1"  src="images/ropa/psudadera.webp"></a></div>
                <h1 class="classic_text">Sudaderas/Camisetas</h1>
                <p class="consectetur_text"></p>
                <div class="read_bt_main">
                  <div class="read_bt"><a href="sudaderas.html">Ir</a></div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="image_3"><a href="zapatos.html"><img id="imagenentrene2" href="TrenInferior.html"  src="images/ropa/pzapatos.jpg"></a></div>
                <h1 class="classic_text">Zapatos</h1>
                <p class="consectetur_text"></p>
                <div class="read_bt_main">
                  <div class="read_bt"><a href="zapatos.html">Ir</a></div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="image_3"><a href="chandal.html"><img href="#" id="imagenentrene3" src="images/ropa/pchandal.jpg"></a></div>
                <h1 class="classic_text">Chandals</h1>
                <p class="consectetur_text"></p>
                <div class="read_bt_main">
                  <div class="read_bt"><a href="chandal.html"> Ir</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- service section end -->


       {% endblock %}